PORT=8000
MONGO_URL="mongodb+srv://krunaldhavle1999:SkSHpmxy1twEAEPs@cluster0.byifbqe.mongodb.net"

DB_NAME = "tickets"

CORS_ORIGIN = http://localhost:5173


JWT_SECRET="qwsdasdfsdfsaf234wfsdfsw223dsfs"
JWT_EXPIRES_IN="1d"
OPENAI_API_KEY=""
GOOGLE_API_KEY=""


